.dropDown {
	position: relative;
	width: 100px;
	height: 100px;
}

.dropButton {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 40px;
	background: lightgreen;
	border: none;
	outline: none;
	cursor: pointer;
}

.dropDown-content {
	position: absolute;
    top: 42px;
    width: 100px;
    height: 63px;
    background: lightgrey;
	text-align: center;
	display: none;
}

.dropDown:hover .dropDown-content {
	display: block;
}

a {
	display: block;
	padding: 2px;
	color: black;
	text-decoration: none;
}

a:hover {
	background: grey;
}